# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Logs
*.log

# System files
.DS_Store
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Backup files
*~
